body {
  --bg: #fff;
  --text: #252525;
  --highlight: #33a;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: #252525;
    --text: #fff;
    --highlight: #99f;
  }
}

.highlight {
  color: var(--highlight);
}

#container {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

button {
  background-color: var(--bg);
  color: var(--text);
  border-radius: 10px;
  border-color: var(--text);
  border-width: 0px;
  padding: 3px 10px;
  box-shadow: 0px 0px 5px var(--text);
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: var(--text);
  color: var(--bg);
  box-shadow: 0px 0px 20px var(--text);
}

input {
  background-color: var(--bg);
  color: var(--text);
  box-shadow: 0px 0px 3px var(--text);
  border-width: 0;
  border-radius: 3px;
  padding: 3px 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="%23bbbbbb" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>');
}

progress[value] {
  --pgc: var(--highlight);
  --pgb: lightgray;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  height: 0.5em;
  margin: 0 10px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px var(--text);
  background: var(--pgb);
}
progress[value]::-webkit-progress-bar {
  border-radius: 100px;
  background: var(--pgb);
}
progress[value]::-webkit-progress-value {
  border-radius: 100px;
  background: var(--pgc);
}
progress[value]::-moz-progress-bar {
  border-radius: 100px;
  background: var(--pgc);
}
